body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    background-color: aquamarine;
    
}
header {
    background: url(/images/picss.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1300px;
    color:  rgb(56, 158, 15);;
    text-align: end;
    padding: 1rem;
    margin: 10px;
    font-size: larger;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1rem;
}
nav ul li a {
    columns: white;
    text-decoration: none;
}
.logo img {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 80px;
    width: 60px;
}
.myself  {
    position: absolute;
    left: 50px;
    bottom: -35rem;
    color: white;
    font-size: 1rem;
    color: rgb(56, 158, 15);  
}
.arrow img {
    height: 40px;
    width: 30px;
    border-radius: 10px;
    display: block;
}
.about {
    display: flex;
    gap: 300px;
}

.about img {
    flex: 2; /* this box will take two parts*/
    max-width: 100%;
    height: auto;

}
.about milly {
    flex: 1; /* each will take 1 part of the box*/
}   

.expert-in {
    display: flex;
    padding: 2rem;
    gap: 1rem;

}

.expert-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    background-color: #e0f7fa;
}

.expert-box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.expert-box h3 {
    margin: 0 0 10px 0;
}

.expert-box p {
    margin: 0;
}
.container {
    background-color: beige;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.make {
    display: flex;
}
.it-has {
    flex: 80;

}
.make .call-to-action{
    display: flex;
    text-align: center;
    padding-left: 50;

}
.call-to-action button{
    cursor: pointer;

}
.grid-container {
    display: flex;
    grid-template-columns: repeat(auto-fit minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}
.grid-container img {
    height: 150px;
    width: 300px;
    box-sizing: border-box;
}
.grid-items {
    box-shadow: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
    background-color: #e0f7fa;
}
.Message {
    display: flex;
    gap: 150px;
    
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.contact-form textarea {
    width: 90%;
    height: 150px; /* Adjust the height to make it bigger */
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.contact-form button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}
.Message img {
    height: 300px;
    
}




